#![enable(implicit_some)]
Label(
    transform: (
        id: "menu",
        anchor: Middle,
        x: 0.0,
        y: 0.0,
        width: 200.0,
        height: 50.0,
        transparent: true,
    ),
    text: (
        text: "Menu",
        font_size: 25.0,
        color: (1.0, 1.0, 1.0, 1.0),
        font: File("fonts/square.ttf", ("TTF", ())),
    ),
)
