#![enable(implicit_some)]
(
    entities: [
        (
            data: PaddlePrefab(
                transform: (),
                bounds: (),
                paddle: (),
            ),
        ),
    ],
)
